<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="common/header::commonHeader('Add Domain Page')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Domain Page</title>
</head>
<body>
<!--Top Bar -->
<div th:include="common/topbar::commonNav"></div>

<!-- Content Start -->
<div class="container-fluid">
    <div class="row">
        <!-- common menu -->
        <div class="col-sm-2" th:include="common/menu::commonMenu"></div>
        <div class="col-sm-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">领域管理</a></li>
                    <li class="breadcrumb-item active" aria-current="page">添加领域</li>
                </ol>
            </nav>

            <div>
                <h3>添加领域</h3>
            </div>

            <!-- Add Form  -->
            <form th:action="@{/domain/}" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">名字</label>
                        <input type="email" class="form-control" id="name" name="name" placeholder="领域名称">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control" id="tags" name="tags" placeholder="tags">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="parentCode">父类Code</label>
                        <select id="parentCode" name="parentCode" class="form-control"></select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="code">Code</label>
                        <select id="code" name="code" class="form-control"></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="slogan">一句话描述</label>
                        <input type="text" class="form-control" id="slogan" placeholder="一句话描述">
                    </div>
                </div>
                <div class="form-group">
                    <label for="avatar">Avatar Pic</label>
                    <input type="file" class="form-control-file" id="avatar" name="avatar" onchange="previewImage(this)">
                </div>
                <div class="form-group card">
                    <div class="img-thumbnail">
                        <img id="preview"  alt="" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">OK现在加上去</button>
            </form>

        </div>
    </div>
</div>
<!-- Content End -->

<!-- Footer -->
<footer th:include="common/footer::commonFooter(${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')})" class="footer"></footer>

<script>
    // 上传图片前预览
    function previewImage(file) {
        var MAXWIDTH = 500;  // 最大图片宽度
        var MAXHEIGHT = 500;  // 最大图片高度
        if (file.files && file.files[0]) {
            var img = document.getElementById('preview');
            img.onload = function () {
                var rect = getZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width = rect.width;
                img.height = rect.height;
            }
            var reader = new FileReader();
            reader.onload = function (evt) {
                img.src = evt.target.result;
            }
            reader.readAsDataURL(file.files[0]);
        } else {
            //兼容IE
            file.select();
            var src = document.selection.createRange().text;
            var img = document.getElementById('preview');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
        }
    }

    // 获取缩放的尺寸
    function getZoomParam(maxWidth, maxHeight, width, height) {
        var param = { top: 0, left: 0, width: width, height: height };
        if (width > maxWidth || height > maxHeight) {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;
            if (rateWidth > rateHeight) {
                param.width = maxWidth;
                param.height = Math.round(height / rateWidth);
            } else {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }
        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }

</script>
</body>
</html>