<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title th:value="${user.username}"></title>
</head>
<body>
<!--Top Bar -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="img/logo_200.png" height="100%" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a class="icon-bar" href="#">网站设置</a>
                </li>
                <li><a href="#">分类管理</a>
                </li>
                <li><a href="#">用户管理</a>
                </li>
                <li><a href="#">商品管理</a>
                </li>
                <li><a href="#">订单管理</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎您,admin</a>
                </li>
                <li><a href="#">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content Start -->
<div class="container-fluid">
    <div class="row">
        <!-- common menu -->
        <div class="col-sm-2" th:include="common/menu::commonMenu"></div>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">用户管理</li>
                <li class="breadcrumb-item active" aria-current="page">用户详情</li>
            </ol>

            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-striped ">
                    <tr>
                        <td>编号</td>
                        <td th:text="${user.id}"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td th:text="${user.email}"></td>
                    </tr>
                    <tr>
                        <td>手机</td>
                        <td th:text="${user.mobile}"></td>
                    </tr>
                    <tr>
                        <td>密码</td>
                        <td th:text="${user.pwd}"></td>
                    </tr>
                    <tr>
                        <td>用户名</td>
                        <td th:text="${user.username}"></td>
                    </tr>
                    <tr>
                        <td>头像</td>
                        <td><figure class="figure"><img th:src="${user.avatar}" class="figure-img img-fluid rounded" /></figure></td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td th:text="${user.gender}"></td>
                    </tr>
                    <tr>
                        <td>年龄</td>
                        <td th:text="${user.age}"></td>
                    </tr>
                    <tr>
                        <td>签名</td>
                        <td th:text="${user.slogan}"></td>
                    </tr>
                    <tr>
                        <td>添加时间</td>
                        <td th:text="${user.createTime}"></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->

<!-- Footer -->
<div th:include="common/footer::commonFooter(${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')})"></div>
</body>
</html>